<%= simple_form_for(@user) do |f| %>
  <div class="input email optional">
    <label class="email optional control-label ui-input-text" for="user_email">Email</label>
    <%= @user.email %>
  </div>
  <br/>
  <div class="input photos optional">
    <label class="input optional control-label ui-input-text" for="user_profile_pic">Profile Picture</label>
    <%= f.attachinary_file_field :photos %>
  </div>	 
  <br/>
  <%= f.input :name  %>
  <br/>
  <%= f.input :desc, :as => :text ,:label => 'Bio'%>
  <br/>
  <%= f.button :submit %>
  <% link_to "Cancel", user_path(@user) %>
<% end %>

<% content_for :top_left_nav do %>
	<a href="#"  data-icon="back" class="ui-btn-left"  data-rel="back">Back</a>
<% end %>