<h2>Email: <%= @user.email %></h2>
<p>Name: <%=  @user.name %></p>
<p>Description: <%=  @user.desc %></p>
<p>No. of Followers: <%= @user.followers_count %></p>

<% if @user == current_user %>
  <p><%= link_to "Edit", edit_user_path(@user) %></p>
<% else %>
  <% if current_user.is_following?(@user) %>
    <p><%= button_to "Un Follow", un_follow_user_path(@user), :method => :post %></p>
  <% else %>
    <p><%= button_to "Follow", follow_user_path(@user), :method => :post %></p>
  <% end %>

<% end %>
<p><%= link_to "Back", users_path %></p>
