<div class="user">
  <h1 class="email"><%= @user.email %></h1>
  <p class="name"><%=  @user.name %></p>
  <p class="description"><%=  @user.desc %></p>
  <p class="followers_count">Followers: <%= @user.followers_count %></p>
  <div class="userItems user-item-list">
    <ul data-role="listview">
    <% @user.items.each do |item| %>
      <%= render "items/result_item", :item => item %>
    <% end %>
    </ul>
  </div>

  <div class="actions">
    <% if current_user %>
      <% if @user == current_user %>
      <p><%= link_to "Edit", edit_user_path(@user) %></p>
      <% else %>
        <% if current_user.is_following?(@user) %>
          <p><%= button_to "Un Follow", un_follow_user_path(@user), :method => :post %></p>
        <% else %>
          <p><%= button_to "Follow", follow_user_path(@user), :method => :post %></p>
        <% end %>
      <% end %>
    <% end %>
    <p><%= link_to "Back", users_path %></p>
  </div>
</div>
