<li class="item">
  <div class="thumbnail">
    <% item.photos.each do |photo| %>
        <%= cl_image_tag(photo.path, { size: '125x125', crop: :fit }) %>
    <% end %>
  </div>

  <div class="details">
    <p class="id" style='display:none;'><%= item.id %></p>
    <p class="title"><%= item.title %></p>
    <p class="desc"><span class="price"><%= item.price %></span> <%= item.desc %></p>
    <% if item.photos.length > 0 %>
        <%= cl_image_tag(item.photos[0].path, { size: '125x125', crop: :fit }) %>
    <% end %>
  </div>
</li>