<h1>Sell an Item</h1>

<%= simple_form_for(@item) do |f| %>
  <%= f.input :title, :label => 'Name of the item' %>
  <%= f.input :price, :placeholder => '$10', :type => "number"  %>
  <%= f.input :desc, :as => :text %>
  <%= f.attachinary_file_field :photos %>
  <%= f.button :submit %>
<% end %>