<div data-role="page">
  <div data-role="content">
    <h2>Send a message to seller regarding the item:</h2>

    <div class="item">
      <h3 class="title"><%= @item.title %></h3>
      <p class="price">$<%= @item.price %></p>
      <p class="desc"><%= @item.desc %></p>
    </div>

    <%= simple_form_for(@item.item_pms.build, :url => send_pm_item_path(@item)) do |f| %>
        <%= f.input :message %>
        <%= f.submit "Send Message" %>
        <%= link_to "Cancel", item_path(@item) %>
    <% end %>
  </div>
</div>