<div class="item">
  <div class="details">
    <div class="image">
      <% if @item.photos.length > 0 %>
        <%= cl_image_tag(@item.photos[0].path, { size: '125x125', crop: :fit, angle: :exif}) %>
      <% end %>
    </div>

    <div class="texts">
      <h1 class="title"><%= @item.title %></h1>
      <p class="desc">
        <span class="price">$<%= @item.price %></span> <%= @item.desc %>
      </p>

      <% if current_user %>
        <%= render :partial => 'item_action', :locals => {:item => @item} %>
      <% end %>
    </div>
  </div>

  <div class="interests">
    <h1>Interested users</h1>
    <% if @item.interests.any? %>

      <ul data-role="listview">
        <% @item.interests.each do |interest| %>
            <li class="interest">
              <p class="interestBy">
              <% if interest.user.photos.length > 0 %>
    					<%= cl_image_tag(interest.user.photos[0].path, { size: '40x40', crop: :thumb  , angle: :exif}) %>
    				  <% else %>
    					<img src="http://www.igpsd.com/placeholder.png"/>
    				  <% end %>
    				  <%= interest.user.name %>
    				  <% if is_owner?(@item) %>
              <a href="#" data-url="<%= user_item_confirmed_in_url(interest.user,@item) %>" data-role="button" data-mini="true" data-theme="b" data-inline="true" class="confirm_buyer">Confirm</a></p>
              <% end %>
            </li>
        <% end %>
      </ul>
    <% else %>
        <p class="alert alert-info">No one is interested yet!</p>
    <% end %>
  </div>

  <div class="comments">
    <h1>Comments</h1>
    <% if @item.comments.any? %>
      <ul data-role="listview">
      <% @item.comments.reverse.each do |comment| %>
        <li class="comment">  
		  <p class="commentPhoto">
				<a href="<%= url_for( user_url(comment.user)) %>"  > 
		  		<% if comment.user.photos.length > 0 %>
					<%= cl_image_tag(comment.user.photos[0].path, { size: '40x40', crop: :thumb  , angle: :exif}) %>
				  <% else %>
					<img src="http://www.igpsd.com/placeholder.png"/>
				  <% end %>	
				</a>
		  </p>
          <p class="commentBy"><a href="<%= url_for( user_url(comment.user)) %>"  > <%= comment.user.name %> </a> </p>
          <p class="commentMsg"><%= comment.comment %></p>
        </li>
      <% end %>
      </ul>
    <% else %>
      <p class="alert alert-info">No comment yet, leave one now!</p>
    <% end %>

    <p></p>

    <% if current_user %>
      <div class="comment_form" data-item-id="<%= @item.id %>">
        <%= simple_form_for(@item.comments.build, :url => comment_item_path(@item) ) do |f| %>
            <%= f.input :comment, :label => false, :placeholder => "Post a comment about the item here" %>
            <%= f.submit "Comment" %>
        <% end %>
      </div>
    <% else %>
       <a href="/users/sign_up" data-role="button">Sign Up</a>
    <% end %>
   </div>
</div>

<% content_for :top_left_nav do %>
 
 <a href="/" data-mini="true" data-icon="back" class="ui-btn-left" data-rel="back">Back</a>
<% end %>
