<!DOCTYPE html>
<html>
<head>
  <title>Bartr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
  
<!-- iOS Device Startup Images -->
<!-- iPhone/iPod Touch Portrait – 320 x 460 (standard resolution) -->
<link rel="apple-touch-startup-image" href="assets/320X460_load.png" media="screen and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1)" />

<!-- iPhone/iPod Touch (high-resolution) Portrait – 640 x 920 pixels -->
<link rel="apple-touch-startup-image" href="assets/640X920_load.png" media="screen and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2)" />

<!-- iPad Landscape 1024x748 -->
<link rel="apple-touch-startup-image" sizes="1024x748" href="assets/1024X748_load.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 1)" />

<!-- iPad Portrait 768x1004 -->
<link rel="apple-touch-startup-image" sizes="768x1004" href="assets/768X1004_load.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 1)"/>

<!-- iPad (high-resolution Landscape – 2048 x 1496 pixels ) -->
<link rel="apple-touch-startup-image" sizes="2048x1496" href="assets/2048X1496_load.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)" />

<!-- iPad (high-resolution) Portrait – 1536 x 2008 pixels -->
<link rel="apple-touch-startup-image" sizes="1536x2008" href="assets/1536X2008_load.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)" />

<!-- iOS Icons -->
<link rel="apple-touch-icon" href="assets/iphone_57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="assets/ipad_72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="assets/iphone_retina_114x114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="assets/ipad_retina_144x144.png" />

</head>
<body>
<div data-role="page">
  
	<%= render "layouts/application/header" %>

  <div data-role="content">
     <%= render "layouts/application/flash_messages" %>
     <%= yield %>
   </div>

	 <%= render "layouts/application/footer" %>	 
</div>

<%= yield :footer %>

</body>
</html>
