<!DOCTYPE html>
<html>
<head>
  <title>Bartr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= asset_path('iphone_57x57.png') %>" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path('iphone_retina_114x114.png') %>" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path('ipad_72x72.png') %>" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path('ipad_retina_144x144.png') %>" />
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<div data-role="page">
  
	<%= render "layouts/application/header" %>

    <div data-role="content">
     <%= render "layouts/application/flash_messages" %>
     <%= yield %>
   </div>

	 <%= render "layouts/application/footer" %>	 
</div>

<%= yield :footer %>

</body>
</html>
